.EducationArea {
  width: 99.5vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.EducationTitle {
  color: rgb(224, 162, 82);
  letter-spacing: 1px;
  font-weight: bold;
  font-family: Raleway;
  font-size: 1.5em;
  text-align: justify;
}
.EducationBar {
  width: 15%;
  height: min(1.5px, 1vh);
  background-color: rgb(224, 160, 76);
}
