:root {
  --shadow: rgb(182, 125, 51);
}

.EducationElement {
  opacity: 0;
  transform: translateY(50px);
  margin: min(5vh, 30px) 0vw min(5vh, 30px) 0vw;
  padding: min(5vh, 30px) 0vw min(5vh, 30px) 0vw;
  max-width: 850px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    #F2AA4CFF,
    rgb(224, 160, 76)
  );
  box-shadow: 1px 1px 0 var(--shadow);
  box-shadow: 2px 2px 0 var(--shadow);
}
.EducationElementVisibility {
  opacity: 1;
  transform: translateY(0px);
}
.EducationPrime {
  width: 90%;
  display: flex;
}
.EducationElement:hover {
  box-shadow: 1px 1px 0 var(--shadow);
  box-shadow: 2px 2px 0 var(--shadow);
  box-shadow: 3px 3px 0 var(--shadow);
  box-shadow: 4px 4px 0 var(--shadow);
  box-shadow: 4px 5px 0 var(--shadow);
  box-shadow: 4px 6px 0 var(--shadow);
  transition: box-shadow 0.3s ease-in-out;
}
.ElementLeft {
  width: 45%;
  margin: 0 2.5% 0 2.5%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ElementLeft div {
  text-align: center;
  margin: 5px;
  padding: 5px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: bold;
  font-family: Raleway;
  color: rgb(245, 245, 245);
}
.ElementBar {
  height: 1.5px;
  width: 90%;
  margin: 2px 5% 2px 5%;
  background-color: rgb(255, 255, 255);
  display: none;
}
.ElementRight {
  width: 45%;
  margin: 5% 2.5% 5% 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ElementRight div {
  width: 100%;
  letter-spacing: 2px;
  line-height: 30px;
  font-family: lato;
  color: rgb(245, 245, 245);
}
.InstitutionName {
  text-transform: uppercase;
  color: rgb(240, 240, 240) !important;
}
.mapsLogo {
  height: 40px;
  width: 40px;
  padding: 2px 2px 2px 2px;
  background-color: blanchedalmond;
  border-radius: 40px;
  transform: rotate(0deg);
  transition: transform 0.8s ease-in-out;
}
.mapsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
}
.mapsLink a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mapsLogo:hover {
  transform: rotate(360deg);
  transition: transform 0.8s ease-in-out;
}
.linkText {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 5px;
}
.linkText:hover {
  color: rgb(241, 217, 171);
}
@keyframes educationElement-slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes educationElement-slideOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
@media screen and (max-width: 850px) {
  .EducationElement {
    margin: min(5vh, 30px) min(3vw, 20px) min(5vh, 30px) min(3vw, 20px);
    max-width: 70vh;
    min-width: 300px;
  }
  .EducationPrime {
    flex-direction: column;
  }
  .ElementLeft {
    width: auto;
    margin: 0 2.5% 0 2.5%;
  }
  .ElementLeft div {
    width: auto;
  }
  .ElementBar {
    display: table !important;
  }
  .ElementRight {
    width: auto;
    margin: 5% 2.5% 5% 2.5%;
    display: flex;
    text-align: center;
  }
  .ElementRight div {
    display: flex;
    justify-content: center;
  }
  .EducationBar {
    width: 75%;
    height: min(2px, 1vh);
    background-color: #F4DF4EFF;
  }
}
