.typingAnimation{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: rgb(184, 184, 184);
    background: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(46, 46, 46));
    height: 18vh;
    margin-bottom: max(2vh, 12px);
    min-height: 108px;
    width: 43vw;
    padding-left: 2vw;
    border-radius: 10px;
}
.typingAnimation:hover{
    box-shadow: 0 0 11px rgb(0, 0, 0);
    transition: box-shadow 0.5s ease-in-out;
}
.animationArea{
    position:unset;
}
.staticText{
    color: rgb(150, 206, 48);
    font-family:cursive;
    font-weight: bold;
    font-size:20px;
}
.changingText{
    color: rgb(54, 136, 230);
    font-weight: bold;
    font-family:cursive;
    font-size:30px;
}
.blinkingBar{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family:cursive;
    font-size:30px;
    position: relative;
    z-index: 2;
}
@keyframes blinkIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes blinkOut {
    from{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}
@media screen and (max-width: 1000px){
    .typingAnimation{
        width: 88vw;
    }
}
@media screen and (max-width: 500px){
    .staticText{
        font-size:15px;
    }
    .changingText{
        font-size:24px;
    }
    .blinkingBar{
        font-size:24px;
    }
}
@media screen and (max-width: 374px){
    .staticText{
        font-size:14px;
    }
    .changingText{
        font-size:20px;
    }
    .blinkingBar{
        font-size:20px;
    }
}