.ProjectElement {
  display: inline-block;
  height: auto;
}
.leftProjectElement {
  opacity: 0;
  transform: translateX(-50px);
}
.rightProjectElement {
  opacity: 0;
  transform: translateX(50px);
}
.ProjectElementVisibility {
  opacity: 1;
  transform: translateX(0px);
}
.ProjectElement div {
  width: max(39.75vw, 300px);
  margin: max(5vh, 25px) 5vw min(5vh, 25px) 5vw;
  height: auto;
  background: linear-gradient(
    to bottom right,
    rgb(172, 80, 80),
    rgb(204, 71, 71)
  );
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 0 rgb(110, 28, 28);
  box-shadow: 2px 2px 0 rgb(110, 28, 28);
}
.ProjectElement div:hover {
  box-shadow: 1px 1px 0 rgb(110, 28, 28);
  box-shadow: 2px 2px 0 rgb(110, 28, 28);
  box-shadow: 3px 3px 0 rgb(110, 28, 28);
  box-shadow: 4px 4px 0 rgb(110, 28, 28);
  box-shadow: 5px 5px 0 rgb(110, 28, 28);
  box-shadow: 6px 6px 0 rgb(110, 28, 28);
  transition: box-shadow 0.3s ease-in-out;
}
.ProjectTitle {
  display: flex;
  align-items: center;
  margin: max(1vh, 5px) auto max(1vh, 5px) auto;
  color: rgb(219, 219, 219);
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: bold;
  font-family: lato;
  height: 15%;
}
.ProjectDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(219, 219, 219);
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  font-family: lato;
  margin: max(1vh, 5px) 3vw max(1vh, 5px) 3vw;
  height: 60%;
}
.ProjectsIcon {
  height: 30px;
  width: 30px;
}
.ProjectLinks {
  height: 20%;
  margin: 2.5% 0 2.5% 0;
  display: flex;
  justify-content: space-around;
}
.ProjectLinks a {
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.ProjectLinks a:hover {
  color: rgb(74, 191, 199);
}
.ProjectBar {
  margin: max(1vh, 5px) auto max(1vh, 5px) auto;
  width: 75%;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
}
@keyframes leftProjectElement-slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes leftProjectElement-slideOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}
@keyframes rightProjectElement-slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rightProjectElement-slideOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}
@media only screen and (max-width: 850px) {
  .ProjectElement div {
    width: max(89.5vw, 320px);
    margin: max(5vh, 25px) max(5vw, 18px) max(5vh, 25px) max(5vw, 18px);
  }
}
@media only screen and (max-width: 350px) {
  .ProjectElement div {
    width: max(97.5vw, 320px);
    margin: max(5vh, 25px) max(1vw, 3.2px) max(5vh, 25px) max(1vw, 3.2px);
  }
}
