.navbar{
    margin: 1vh 1vw 1vh 1vw;
    width: 97.5vw;
    height: 15vh;
    min-height: 50px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(73, 73, 73);
    box-sizing: border-box;
}
.stick{
    position: fixed;
    top: 0;
}
.name{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 40%;
}
.name span{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color:rgb(190, 190, 190);
    text-transform:uppercase;
    letter-spacing: 12px;
    cursor:context-menu;
}
.navitems{
    margin: 0;
    padding: 0;
    width: 60%;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
}
.navitems li{
    cursor:pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color:rgb(190, 190, 190);
    letter-spacing: 1px;
}
.navitems li:hover{
    color:rgb(230, 231, 231);
}
.burger{
    display: none;
    cursor:pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    margin: 5px 0 5px 0;
}
@media screen and (max-width: 950px){
    .name span{
        letter-spacing: 9px;
    }
}
@media screen and (max-width: 800px){
    .name{
        display: flex;
        align-items:center;
        justify-content:center;
        width: 90%;
    }
    .name span{
        letter-spacing: 12px;
    }
    .navitems{
        position: absolute;
        top: 15vh;
        right: 0;
        height: 85vh;
        width: 40%;
        background-color: rgb(73, 73, 73);
        display: flex;
        flex-direction: column;
        transform: translateX(110%);
        transition: transform 0.3s ease-in;
    }
    .navitems li{
        opacity: 0;
        transform: translateX(50px);
    }
    .burgerClick{
        transform: translateX(0%);
    }
    @keyframes navitems-fadein {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity:1;
            transform:translateX(0px);
        }
    }
    .burger{
        display: block;
        width:10%;
    }
}
@media screen and (max-width: 450px){
    .name{
        display: flex;
        align-items:center;
        justify-content:center;
        width: 85%;
    }
    .name span{
        letter-spacing: 6px;
    }
    .navitems{
        position: absolute;
        top: 15vh;
        right: 0;
        height: 85vh;
        width: 50%;
        background-color: rgb(73, 73, 73);
        display: flex;
        flex-direction: column;
        transform: translateX(110%);
        transition: transform 0.3s ease-in;
    }
    .navitems li{
        opacity: 0;
        transform: translateX(50px);
    }
    .burgerClick{
        transform: translateX(0%);
    }
    @keyframes navitems-fadein {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity:1;
            transform:translateX(0px);
        }
    }
    .burger{
        display: block;
        width:15%;
    }
}