.IntroArea{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(184, 184, 184);
    background: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(46, 46, 46));
    height: 80vh;
    min-height: 480px;
    width: 45vw;
    border-radius: 10px;
}
.IntroArea:hover{
    box-shadow: 0 0 11px rgb(0, 0, 0);
    transition: box-shadow 0.5s ease-in-out;
}
.introList{
    display: grid;
    color:rgb(219, 219, 219);
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 300;
    font-family:cursive;
    text-align:left;
    width: 32.75vw;
}
.heading{
    font-weight: 900 !important;
    color: rgb(54, 136, 230);
}
span a{
    text-decoration: none;
    color: rgb(174, 190, 143);
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 300;
    font-family:cursive;
}
span a:hover{
    color: rgb(150, 206, 48);
}
.introBar{
    width: 80%;
    height: 2px;
    background-color: rgb(238, 237, 237);
}
@media screen and (max-width: 1370px){
    .introList{
        font-size: 14px;
    }
}
@media screen and (max-width: 1200px){
    .introList{
        font-size: 12px;
    }
}
@media screen and (max-width: 1060px){
    .introList{
        font-size: 11px;
    }
}
@media screen and (max-width: 1000px){
    .IntroArea{
        width: 90vw;
    }
    .introList{
        width: 81.5vw;
    }
    .introList{
        font-size: 17px;
    }
}
@media screen and (max-width: 600px){
    .introList{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .IntroArea{
        height: 97vh;
    }
}
@media screen and (max-width: 370px){
    .IntroArea{
        height: 127vh;
    }
}