/*Staging Area 1 starts here*/

.stagingArea1{
    width: 99.5vw;
    background: linear-gradient(to bottom, rgb(122, 122, 122), rgb(184, 184, 184));
    overflow-x: hidden;
}
.flexDirection{
    display: inline-flex;
    justify-content: space-around;
}
/*Staging Area 2 starts here*/

.stagingArea2{
    width: 99.5vw;
    background: linear-gradient(to bottom, rgb(5, 134, 255), rgb(61, 161, 255));
    overflow-x: hidden;
}

/*Staging Area 3 starts here*/

.stagingArea3{
    width: 99.5vw;
    background: linear-gradient(to bottom, rgb(255, 31, 31), rgb(255, 105, 105));
    overflow-x: hidden;
}

/*Container, same for each staging area*/

.container{
    width: 99.5vw;
    cursor: context-menu;
    padding-top: max(80px, 17vh);
    padding-bottom: max(30px, 7vh);
}

/*Others*/

@media screen and (max-width: 1000px){
    .flexDirection{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content:unset;
    }
    .homeSide2{
        width: 90vw;
    }
}